body{
    background-color: rgb(228, 150, 245);
    font-family: Inter;
}

h1{
    font-size: (1rem, 3rem, 5rem);
}

button{
    font-family: 'Courier';
    background: royalblue;
    color: white;
    height: 300px; 
    width: 60vw;
    font-size: clamp(1rem, 3rem, 5rem);
}